@import "tailwindcss";
@theme {
  --color-primary: #0d1b2a;
  --color-primary-2: #1b263b;
  --color-secondary: #415a77;
  --color-secondary-2: #778da9;
  --color-white-2: #e0e1dd;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-anek: "Anek Bangla", sans-serif;
}
@layer base{
.slick-slide {
  padding: 0 20px;
}
}

